<style>
    <% include index.css %>
</style>


<div class="instagram itemscope" id="albums-root">
    <div class="photos" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
        <section class="archives album" v-for="album in albums">
            <h1 class="year">
                {{ album.year }}
                <em>
                    {{ album.month }}
                </em>
            </h1>
            <ul class="img-box-ul">
                <figure class="thumb" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject" v-for="image in album.images">
                    <a :href="image.origin" itemprop="contentUrl" :data-size="image.size.width + 'x' + image.size.height" data-type="image"
                        :data-target="image.origin">
                        <img class="reward-img" data-type="image" :data-src="image.thumb" :src="image.thumb" itemprop="thumbnail" data-lzled="true">
                    </a>
                    <figcaption style="display:none" itemprop="caption description">
                        {{ image.comment }}
                    </figcaption>
                </figure>
            </ul>
        </section>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#albums-root",
        data: {
            page: 1,
            albums: []
        },
        methods: {
            load: function () {
                var self = this;
                axios.get("https://raw.githubusercontent.com/qinyuanpei/qinyuanpei.github.io/blog/albums.json")
                    .then(function (response) {
                        console.log(response.data);
                        var albums = response.data;
                        self.albums = albums.slice(0, self.page);
                        if (self.page < albums.length) { 
                            self.page += 1;
                        } else { 
                            self.page = albums.length - 1; 
                        } 

                    }).catch(function (error) {

                    })
            }
        },
        mounted: function () {
            this.load();
        }
    });

    vm.load();
</script>
<script>
        <% include pagination.js %>
</script>