<style>
    <% include index.css %>
</style>

<div class="instagram itemscope">
    <div class="photos" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
        <% albums.forEach(function(albums){ %>
            <% include album.ejs %>
        <% }); %>
    </div>
</div>

<script>
    <% include pagination.js %>
</script>