<style>
    <% include index.css %>
</style>


<div class="instagram itemscope" id="albums-root">
    <div class="photos" itemscope="" itemtype="http://schema.org/ImageGallery" data-pswp-uid="1">
        <% albums.forEach(function(album){ %>
            <% include album.ejs %>
        <% }); %>
    </div>

    
</div>
<script>
    <% include pagination.js %>
</script>